.wrapper{
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/LoginPageBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /* border: 1px solid black; */
}
.Loginsection{
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    /* background-color: white; */
}
