.Paymenthistory{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
.container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    box-sizing: border-box;
    overflow: hidden;
    /* border: 1px solid black; */
}