.logocontainer{
    width: fit-content;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    column-gap: 10px;
}
.logo{
    width: 48px;
    height: 48px;
    background-color: black;
    border-radius: 50%;
}
.content{
    position: relative;
}
.content h2{
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
}
.content::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 2px;
    height: 60px;
    top: -2%;
}