.company{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    /* border: 2px solid white; */
}
.logo{
    width: 48px;
    height: 48px;
    background-color: black;
    border-radius: 50%;
}
.company h1{
    /* border: 2px solid white; */
    font-size: 24px;
    font-weight:500;
    color: black;
}