.sidebar {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    /* border: 2px solid black; */
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #e70039;
    border-radius: 10px;    
    overflow: hidden;
    /* border: 2px solid black; */
}

.navigationcontent {
    padding: 20px 0px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    overflow: hidden;
}

.navibtn,
.navibtns {
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
}

.navibtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    font-size: 18px;
    background-color: transparent;
}

.navibtns,
.icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    background-color: rgba(255, 255, 255, 0.321);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
}

.navibtn h1,
.icon,
.logoutbtn h1 {
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.navibtns h1,
.logoutbtns h1 {
    font-size: 18px;
}

.icon {
    font-size: 18px;
    border-radius: 5px;
}

.logoutcontainer {
    padding: 20px 0px;
}

.logoutbtn,
.logoutbtns {
    padding: 5px 20px;
}

.logoutbtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    font-size: 18px;
}

.logoutbtns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    background-color: rgba(255, 255, 255, 0.321);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
}

@media (max-width:786px) {
    .sidebar {
        position: absolute;
        top: 10vh;
        left: 0;
        width: 60vw;
        height: 90vh;
        z-index: 100;
        backdrop-filter: blur(10px);
    }
    .hide{
        transform: translateX(-100%);
    }
    .show{
        transform: translateX(0);
    }
}